.loadingContain{
    font-size: xx-large;
    height: 100vh;
    width: 100%;
    position: fixed;
    background: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 600;
}


.loadingContain svg{
    stroke: white;
    stroke-width: 0.09; 
    animation: textAniamte infinite 1.5s;  
    /* animation-direction: alternate; */
    background: transparent;
}



@keyframes textAniamte {
    0%{
        opacity: 0;
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
        
    }
    70%{
        scale: 0.9;
        opacity: 1;
        stroke-dasharray: 50% 0;
        stroke-dashoffset: -20%;
    }
    100%{
        scale: 1;
        opacity: 0;
    }
}