.section3 svg{
    margin-top: 100px;
}
svg text{
    stroke: white;
    font-size: 180px;
    stroke-width: 1;
    font-family: Fighting-Sprit;
    filter: drop-shadow(1px 1px 5px white);
    animation: textAniamte 3s;
    transform-origin: center;
}


@keyframes textAniamte {
    0%{
        opacity: 0;
        stroke-dasharray: 0 50%;
        stroke-width: 0.5;
        stroke-dashoffset: 20%;
    }
    80%{
        opacity: 1;
        stroke-dasharray: 50% 0;
        stroke-width: 1;
        stroke-dashoffset: -20%;
    }
    100%{
        filter: drop-shadow(0px 0px 10px white);
    }
}